:root {
  --color-blue-dark: rgba(0, 86, 150, 1);
  --color-blue-light-1: rgba(81, 162, 223, 1);
  --color-blue-light-2: rgb(73, 149, 208);
  --color-grey-dark-1: rgb(74, 74, 74);
  --color-grey-dark-2: #777;
  --color-grey-dark-3: rgb(46, 45, 45);
  --color-grey-light: rgba(209, 210, 212, 1);
  --color-white-muted: rgba(238, 243, 247, 1);

  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.08);

  --line: 1px solid var(--color-grey-light);

  --colorful-gradient: linear-gradient(305deg, #FF595E, #FFBE6C, #96BC3C, #0188A4, #FB6107, #9FD8CB);
}

$screen-largest: 75em; //1200px
$screen-large: 68.75em; //1100px
$screen-medium: 56.25em; //900px
$screen-small: 37.5em; //600px;
$screen-smallest: 31.25em; //500px